@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import "./variables.scss";

body {
  font-family: "Open Sans", sans-serif;
  margin: 2rem;
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    margin: 0;
    padding: 10px 20px;
    border: none;
    display: block;
    background-color: $blue;
    color: white;
    font-size: 16px;
    border-radius: 10px;
  }
}
